  @import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Playwrite+DK+Loopet:wght@100..400&family=Playwrite+US+Trad+Guides&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Playwrite+DK+Loopet:wght@100..400&family=Playwrite+US+Trad+Guides&display=swap');

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  h1 {
      text-align: center;
      font: bold;
      font-size: 40px;
  }

  h2 {
    background-color:white;
      text-align: center;
      font-weight: 300;
      font-family: "Playwrite DK Loopet", cursive;

  }

  h3 {
    
    background-color:aqua;
      text-align: center;
      font-size: 40px;
      animation: stretch 3s linear infinite running  ;}
  
   @keyframes stretch{
        0%{
            background-color: yellow;
            transform: scale(1);
    
        }
        100%{
            background-color: blueviolet;
            transform: scale(0.5);
    
        }
    }

  h4 {
      text-align: center;
      font-size: 40px;
      font-family: "Bitcount Prop Single";
      font-weight:500;
      background-color: burlywood;
      animation: right 3s linear infinite running  ;
  }
  @keyframes right{
        from{
            background-color: yellow;
            translate: 200vw,0;
            scale: 200%,1;
    
        }
        to{
            background-color: blueviolet;
            translate:0 0 ;

            scale:100%,1;
    
        }
    }

  h5 {
      text-align: center;
       font-size: 50px;
       background-color: brown;
  }

  .logo {
      margin: auto;
      width: 100%;
      /* background: #000; */
  }

  img {
      margin: 40px 580px;
       animation: logoRotate 3s linear infinite running  ;
  }
  @keyframes logoRotate{
        0%{
            transform: rotate(0deg);
    
        }
        100%{
            transform: rotate(360deg);
    
        }
    }