  @import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Playwrite+DK+Loopet:wght@100..400&family=Playwrite+US+Trad+Guides&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Playwrite+DK+Loopet:wght@100..400&family=Playwrite+US+Trad+Guides&display=swap');

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  h1 {
      text-align: center;
      font: bold;
      font-size: 40px;
  }

  h2 {
      background-color: white;
      text-align: center;
      font-weight: 300;
      font-family: "Playwrite DK Loopet", cursive;

  }

  h3 {
      background-color: aqua;
      text-align: center;
      font-size: 40px;
      animation: shrinkText 3s linear infinite alternate;
  }

  @keyframes shrinkText {
      0% {
          transform:scaleX(1);
          letter-spacing: 2px;
          color: black;
          background-color: aqua;
      }

      100% {
          transform:scaleX(3);
          letter-spacing: 5px;
          color: green;
           background-color: tomato;
      }
  }

  h4 {
      text-align: center;
      font-size: 40px;
      font-family: "Bitcount Prop Single";
      font-weight: 500;
      background-color: burlywood;
      animation: moveShrink 5s linear infinite;
      animation-delay: 3s ease-out alternate;
  }

  @keyframes moveShrink {
      0% {
          transform: translateX(0);
          font-size: 40px;
          letter-spacing: 3px;
      }

      50% {
          transform: translateX(1500px);
          letter-spacing: 6px;

      }

      100% {
          transform: translateX(0);
          font-size: 40px;
          letter-spacing: 3px;
      }
  }

  h5 {
      text-align: center;
      font-size: 50px;
      background-color: brown;
      animation: shrinkleft 5s linear infinite;
      animation-delay: 3s ease-out;
  }

  @keyframes shrinkleft {
      0% {
          transform: translateX(0);
          font-size: 40px;
      }

      50% {
          transform: translateX(-1500px);

      }

      100% {
          transform: translateX(0);
          font-size: 40px;
      }
  }

  .logo {
      margin: auto;
      width: 100%;

  }

  img {
      margin: 40px 580px;
      animation: logoRotate 4s linear infinite running;
  }

  @keyframes logoRotate {
      0% {
          transform: rotate(0deg);

      }

      100% {
          transform: rotate(360deg);

      }
  }
  .loader{
    border:2px solid rgb(255, 255, 255);
    border-right-color:slateblue;
    height: 200px;
    width: 200px;
    border-radius: 50%;
     animation: loader 4s linear infinite running;
  }
   @keyframes loader {
      0% {
          transform: rotate(0deg);

      }

      100% {
          transform: rotate(360deg);

      }
  }