@import url("https://fonts.googleapis.com/css2?family=Playwrite+DK+Loopet+Guides&family=Playwrite+DK+Loopet:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Doto:wght@829&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-weight: 700;
  font-family: "Segoe UI";
  font-size: 50px;
  text-align: center;
  animation: h1Scale 2s ease-in-out infinite alternate;
}

@keyframes h1Scale {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.3);
  }
}

.Nothing {
  font-family: "Playwrite DK Loopet", cursive;
  font-size: 45px;
  font-weight: 400;
  text-align: center;
}

.nothing {
  text-align: center;
  height: 70px;
  line-height: 70px;
  font-size: 50px;
  margin-top: 18px;
  animation: stretch 3s ease-in-out infinite alternate;
}

@keyframes stretch {
  from {
    transform: scaleX(1);
    color: aqua;
    letter-spacing: 5px;
    background-color: greenyellow;
  }

  to {
    transform: scaleX(2);
    color: green;
    background-color: red;
    letter-spacing: 5px;
  }
}

.anime {
  margin-top: 18px;
  text-align: center;
  height: 90px;
  background-color: tomato;
  font-size: 43px;
  font-family: "Doto";
  font-weight: 500;
  line-height: 90px;
  animation: slideRight 4s ease-in-out infinite alternate;
}

@keyframes slideRight {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100%);
  }
}

.anime2 {
  font-family: "Segoe UI";
  text-align: center;
  font-size: 50px;
  height: 90px;
  line-height: 90px;
  background-color: rgb(156, 158, 32);
  animation: slideLeft 4s ease-in-out infinite alternate;
}

@keyframes slideLeft {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

img {
  margin: 52px 560px;
  height: 250px;
  animation: logoRotate 3s linear infinite;
}

@keyframes logoRotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
