.root {
    --width_1: 100%;
    --height_1: 800px;
    --width_2: 50%;
    --height_2: 1800px;
    --primary_color: #ffebeb;
}

.container {
    margin: auto;
    /* width: calc(var(--height_1) + var(--width_1));
    height: calc(var(--height_2) + var(--width_2)+500px); */
    width: 80%;
    height: 65vh;
    background-image: url(https://images.unsplash.com/photo-1617654112368-307921291f42?q=80&w=413&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 2px solid black;
}