 .main {
        background-color: grey;
        border-radius: 30px;
        height: 550px;
        width: 100%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;



    }

    .collab {

        font-size: 12px;
        padding-top: 20px;

        margin: auto;
        width: 230px;
        height: 50px;
        font-weight: bold;
    }

    .parent {
        background-color: #dfdfdf;
        border-radius: 30px;
        height: 350px;
        width: 100%;
    }

    .line {
        margin: auto;
        border-bottom: 1px solid rgba(176, 179, 178, 0.329);
        width: 90%;
        height: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
       
    }

    .child {
        background-color: rgb(173, 171, 171);
        justify-content: center;
        border-radius: 30px;
        height: 250px;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;




    }

    .ses {
        transform: rotate(-11deg);
       
        background-color: rgb(247, 243, 243);
        color: rgb(15, 15, 13);
        border-radius: 10px;
        font-size: 6px;
        font-weight: bolder;
        height: 15px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .btn {
        margin-top: 10px;
        background-color: black;
        color: antiquewhite;
        border-radius: 10px;
        font-size: 6px;
        height: 20px;
        width: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;



    }

    .text {
        text-align: center;
        width: 170px;
        height: 70px;
        font-weight: bold;
    }

    .scroller {
        display: flex;
        justify-content: space-evenly;

    }

    .scroller>.img {

        height: 100px;
        width: 50px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        filter: grayscale();
    }
    .footer-text{
        width:100px;
    }

    .footer {
        text-align: left;
        display: flex;
        margin-top: 30px;
        padding: 0px 35px;
        font-size: 6px;
        justify-content: space-between;

    }

    .icon1 {
        background-image: url(./ux.png);
        height: 15px;
        width: 15px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .icon2 {
        background-image: url(./mobile.png);
        height: 15px;
        width: 15px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .icon3 {
        background-image: url(./design.png);
        height: 15px;
        width: 15px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .icon4 {
        background-image: url(./coding.png);
        height: 15px;
        width: 15px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }